---
---

@import "{{ site.theme }}";
#header_wrap {
h2 {
	color: black;
	text-shadow: none;
	font-size: 28px;
}
	h1 {
		text-shadow: none;
	}
	img {
		width: 400px;
		border: 0;
		box-shadow: 0;
	}
background: white;
  background-color: white;
}
