---
---

@import "{{ site.theme }}";
#header_wrap {
h2 {
	color: black;
	text-shadow: none;
	font-size: 28px;
}
	h1 {
		text-shadow: none;
	}
	img {
		width: 400px;
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
background: white;
  background-color: white;
}

#main_content_wrap {
	border: 0;
	background-color: white;
}

#footer_wrap {
	img {
		width: 30px;
		height: 30px;
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

