---
---

@import "{{ site.theme }}";
#header_wrap {
h2 {
	color: black;
	text-shadow: none;
	font-size: 28px;
}
	h1 {
		text-shadow: none;
	}
	img {
		width: 400px;
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
background: white;
  background-color: white;
}

#main_content_wrap {
	border: 0;
	background-color: white;
}
#main_content {
	padding-top: 5px;
}
#footer_wrap {
	text-align: centre;
	a {
		color: white;
		text-decoration: none;
		font-size: 28px;
	}
	img {
		width: 30px;
		height: 30px;
		border: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
input, textarea {
	font-size: 18px;
	padding: 5px;
}
