<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ '//assets/css/style.css?v=' | append: site.github.build_revision }}">

    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">

          <a href="https://www.localmuch.com"><img src="https://ci3.googleusercontent.com/proxy/3IRoB4oxp_dRTgESYs03VjA0-HdTlspDX2vyIbvu62IwXdej0MhstqY51C0joR_fJM8j-PzO12M8JqXHii4AqhtbdM82BOsBmus339XpGCWKtBWxd2un6oWt0VbkZ6g=s0-d-e1-ft#http://marketing.localmuch.com.s3-ap-southeast-2.amazonaws.com/logov2.png" /></a>
          <h2 id="project_tagline">Support Hub</h2>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    
    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <a href="https://www.localmuch.com/host">HOST an experience</a> <br />
        <a href="https://www.twitter.com/local_much"><img src="{{ site.baseurl }}/assets/images/twitter.png"></a>
        <a href="https://www.instagram.com/localmuch"><img src="{{ site.baseurl }}/assets/images/instagram.png"></a>
      <a href="https://www.facebook.com/localmuch"><img src="{{ site.baseurl }}/assets/images/facebook.png"></a>         

      </footer>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
